@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  @font-face {
    font-family: "satoshi";
    font-style: normal;
    font-display: swap;
    src: url(/fonts/satoshi-var.woff2) format("woff2");
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "satoshi", "Inter", system-ui, sans-serif;
    font-weight: 500;
    @apply tracking-tight;
  }
}
